.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .add-form {
    background: rgba(212, 230, 244, 1);
    padding: 35px;
    border-radius: 20px;
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-height: 75vh;
    overflow-y: auto;
  }
  
  .add-form h2 {
    margin: 0 0 35px;
    color: #000;
    font-size: 42px;
    font-weight: 600;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
  }
  
  .form-group label {
    display: block;
    padding: 20px 0;
    color: #000;
    font-weight: 300;
    font-size: 24px;
    white-space: nowrap;
    min-width: 220px;
    text-align: right;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    font-family: 'Inter', serif;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 300;
  }

  .form-group input[type="text"]:focus,
  .form-group textarea:focus {
    outline: none;
}  
  
  .form-group textarea {
    height: 100px;
    resize: vertical;
  }
  
  .form-group .file-upload {
    display: block;
    padding: 20px;
    background: rgba(21, 93, 164, 1);
    color: rgb(255, 255, 255);
    border: 2px solid rgba(21, 93, 164, 1);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
  
  .file-upload:hover {
    background-color: #fff;
    color: rgba(21, 93, 164, 1);
  }
  
  .file-upload input[type="file"] {
    display: none;
  }
  
  .form-actions {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 35px;
  }
  
  .form-actions button {
    padding: 20px 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
  }
  
  .form-actions button[type="button"] {
    background-color: rgba(172, 29, 29, 1);
    color: #fff;
    border: 2px solid rgba(172, 29, 29, 1);
    transition: background-color 0.3s;
  }
  
  .form-actions button[type="submit"] {
    background: rgba(77, 161, 128, 1);
    color: #fff;
    border: 2px solid rgba(77, 161, 128, 1);
    transition: background-color 0.3s, color 0.3s;
  }

  .form-actions button[type="submit"]:hover {
    background-color: #fff;
    color: rgba(77, 161, 128, 1);
  }

  .form-actions button[type="button"]:hover {
    background-color: #fff;
    color: rgba(172, 29, 29, 1);
  }
  
  .image-preview-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .image-preview {
    max-width: 100%;
    max-height: 220px;
    border-radius: 10px;
  }
  
  .change-photo-button {
    background: none;
    border: none;
    color: #155DA4;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    transition: color 0.3s;
  }
  
  .change-photo-button:hover {
    color: #114880;
  }
