.create-button-container {
  width: 100%;
}

.create-button {
  display: block;
  height: 5rem;
  padding: 0 5rem;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 600;
}

.create-button.team-items {
  height: fit-content;
  padding: 0.8rem 1rem;
}