.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;  
    z-index: 1000;
  }
  
  .add-form {
    background: rgba(212, 230, 244, 1);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 90px auto;
  }
  
  .add-form h2 {
    margin: 0 0 35px;
    color: #000;
    font-size: 42px;
    font-weight: 600;
  }
  
  .form-group {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
  }
  
  .form-group label {
    display: block;
    padding: 20px 0;
    color: #000;
    font-weight: 300;
    font-size: 24px;
    white-space: nowrap;
    min-width: 220px;
    text-align: right;
  }

  .form-group .file-input-lable{
    padding: 15px 0;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    font-family: 'Inter', serif;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 300;
  }

  .form-group input[type="text"]:focus,
  .form-group textarea:focus {
    outline: none;
}  
  
  .form-group textarea {
    min-height: 100px;
    resize: vertical;
  }
  
  .file-upload, .add-link-button {
    display: block;
    padding: 15px 50px;
    background: rgba(21, 93, 164, 1);
    color: rgb(255, 255, 255);
    border: 2px solid rgba(21, 93, 164, 1);
    border-radius: 15px;
    cursor: pointer;
    white-space: nowrap;
    width: fit-content;
    font-size: 24px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .file-upload:hover, .add-link-button:hover {
    background-color: #fff;
    color: rgba(21, 93, 164, 1);
  }
  
  .form-actions {
    display: flex;
    gap: 35px;
    margin-left: 240px;
    margin-top: 35px;
  }
  
  .form-actions button {
    padding: 15px 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
  }
  
  .form-actions button[type="button"] {
    background-color: rgba(172, 29, 29, 1);
    color: #fff;
    border: 2px solid rgba(172, 29, 29, 1);
    transition: background-color 0.3s;
  }
  
  .form-actions button[type="submit"] {
    background: rgba(77, 161, 128, 1);
    color: #fff;
    border: 2px solid rgba(77, 161, 128, 1);
    transition: background-color 0.3s, color 0.3s;
  }

  .form-actions button[type="submit"]:hover {
    background-color: #fff;
    color: rgba(77, 161, 128, 1);
  }

  .form-actions button[type="button"]:hover {
    background-color: #fff;
    color: rgba(172, 29, 29, 1);
  }
