  .card-detail-page {
    min-height: 100vh;
  }

  .card-detail-content {
    padding: 15px;
  }

  .card-detail-container {
    display: flex;
    gap: 15px;
    align-items: flex-start;
  }

  .card-owner-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 20%;
  }

  .card-owner-container a {
    font-size: 20px;
    text-align: left;
    color: rgba(0, 119, 255, 1);
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 3px;
    transition: color 0.2s, text-decoration-color 0.2s;
  }

  .back-to.card-link {
    margin-bottom: 15px;
  }

  .card-team-main {
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    min-height: 560px;
  }

  .card-appendices-container,
  .edit-card-appendices-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 20%;
  }

  .edit-card-appendices-container {
    width: 40%;
  }

  .edit-card-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    height: 322.5px;
    width: calc(100% - 60px);
  }

  .card-detail-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 25px;
    height: 50px;
    width: calc(100% - 50px);
  }

  .card-detail-actions {
    flex-direction: column;
    height: 105px;
    gap: 10px;
  }

  .share-button {
    width: 156.5px;
    padding: 11.5px 0;
    font-size: 20px;
  }

  .share-button {
    width: 100%;
  }

  .project-upload-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
