.file-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 6rem);
}

.file-section.card {
    gap: 1rem;
    background-color: white;
    border-radius: 1.5rem;
    padding: 3rem;
    height: calc(42.5% - 6rem - 1.5rem)
}

.file-section.card.edit {
    height: calc(45% - 6rem - 1.5rem)
}

.file-section.card.public {
    height: calc(50% - 6rem - 0.75rem)
}

.file-section.project {
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.file-section.project.edit {
    height: auto;
    width: auto;
    background-color: transparent;
    padding: 0;
}

.file-section h3 {
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    font-weight: 600;
}

.file-section .file-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 0.5rem;
    height: 100%;
    width: calc(100% - 1.7rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f0f0f0;
    scrollbar-gutter: stable;
}

.file-section.card .file-list {
    gap: 1.2rem;
}

.file-section.project .file-list {
    gap: 2rem;
    padding: 0;
}

.file-section.edit .file-list {
    width: 100%;
}

.file-section.project.edit .file-list {
    margin-left: 2rem;
    gap: 1.5rem;
    width: calc(100% - 2rem);
    overflow-y: unset;
}

.file-item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.file-icon {
    width: 2.4rem;
    height: 2.4rem;
}

.file-section.card.edit .file-item {
    width: 100%;
}

.file-section.project.edit .file-item {
    gap: 1.5rem;
}

.file-item-container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.file-section.card .file-item-container {
    gap: 1rem;
}

.file-section.project .file-item-container {
    align-items: flex-start;
    gap: 1.5rem;
}

.file-section.project.edit .file-item-container {
    flex-direction: column;
    gap: 0.5rem;
}

.file-title {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 2rem;
    word-break: break-all;
    text-align: left;
    color: black;
}

.file-section.edit .file-title {
    cursor: default;
    font-size: 1.6rem;
}

.file-section.card.edit .file-title {
    min-width: 50%;
}

.file-description-input {
    padding: 0.5rem;
    font-size: 1.6rem;
}

.file-section.card .file-description-input {
    width: calc(100% - 1.8rem);
}

.file-section.project .file-description-input {
    width: calc(100% - 1.2rem);
}

.file-section.project.edit .empty-list {
    font-size: 1.6rem;
}

.file-upload-button {
    margin: 0 auto;
}

.file-section.card .file-upload-button {
    padding: 0.5rem 3rem;
    font-size: 2rem;
    width: 51.5rem;
    margin-top: 2rem;
}

.file-section.project .file-upload-button {
    font-size: 1.6rem;
    min-width: fit-content;
    width: 50%;
    margin-top: 1rem;
    padding: 0.5rem;
}