.item-preview {
    background-color: white;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    cursor: pointer;
    padding: 0.3rem;
    height: calc(100% - 0.6rem);
    width: calc(100% - 0.6rem);
    color: rgba(0, 119, 255, 1);
}

.preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    height: 80%;
}

.preview-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.item-preview h3 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.item-preview:hover h3 {
    text-decoration-color: rgba(0, 119, 255, 1);
    transform: scale(1.02);
}

.item-preview h3:hover {
    color: rgba(0, 119, 255, 1);
}

.preview-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 0 0.7rem 0.7rem;
}

.card-preview-title-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-preview-title-container h3 {
    font-size: 2.8rem;
}