.links-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1.5rem;
}

.links-section.project {
  align-items: flex-start;
  gap: 2rem;
  padding: 3rem;
  width: calc(100% - 6rem);
  height: calc(55% - 6rem - 1.5rem);
}

.links-section.card-projects {
  align-items: flex-start;
  gap: 1rem;
  padding: 3rem;
  height: calc(42.5% - 6rem - 1.5rem);
  width: calc(100% - 6rem);
}

.links-section.card-projects.public {
  height: calc(50% - 6rem - 0.75rem);
}

.links-section.card-projects.edit {
  gap: 0;
  padding: 0;
  height: calc(100% - 10.5rem);
  width: 100%;
}

.links-section.project.edit {
  height: calc(55% - 6rem + 2.4rem + 1.5rem);
}

.links-section.project.public {
  height: calc(55% - 6rem);
}

.links-section.user {
  width: calc(56.5% - 1rem);
  height: calc(40% - 7rem);
  margin: 0 auto;
  padding: 3.5rem 3rem;
  text-align: center;
  align-items: center;
}

.links-section.user.card {
  align-items: flex-start;
  gap: 1rem;
  padding: 3rem;
  height: calc(30% - 6rem - 1.5rem);
  width: calc(100% - 6rem);
}

.links-section.user.card.public {
  height: calc(35% - 6rem - 1.5rem);
}

.links-title {
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
  font-weight: 600;
}

.links-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.links-section.project .links-list {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  height: 100%;
  width: calc(100% - 1.7rem);
}

.links-section.project .links-list {
  width: 100%;
}

.links-section.user .links-list {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;
  height: 100%;
  width: calc(100% - 1rem);
}

.links-section.user.edit .links-list {
  justify-content: flex-start;
}

.links-section.user.card .links-list {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
  padding: 0;
  height: calc(100% - 1.7rem);
}

.links-section.card-projects .links-list {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.2rem;
  height: 100%;
  width: calc(100% - 1.7rem);
}

.links-section.card-projects.edit .links-list {
  width: 100%;
}

.links-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.links-section.project .links-item,
.links-section.card-projects .links-item {
  width: 100%;
}

.links-section.project.edit .links-item {
  gap: 1.5rem;
}

.links-item::before {
  content: '•';
  font-size: 2rem;
  color: rgba(0, 119, 255, 1);
}

.links-section.user.edit .links-item::before,
.links-section.project.edit .links-item::before,
.links-section.card-projects.edit .links-item:before {
  content: none;
}

.links-item-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
}

.links-section.project .links-item-container,
.links-section.card-projects .links-item-container {
  width: 100%;
}

.links-section.project.edit .links-item-container {
  flex-direction: column;
}

.links-section.user.edit .links-item-container {
  width: fit-content;
}

.link-title {
  margin: 0;
  padding: 0;
  color: rgba(0, 119, 255, 1);
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  word-break: break-all;
  text-align: left;
}

.links-section.user .link-title {
  text-align: center;
}

.links-section.project.edit .link-title {
  font-size: 1.8rem;
}

.links-section.user.edit .link-title {
  min-width: 34rem;
  font-size: 1.6rem;
}

.links-section.card-projects.edit .link-title {
  color: black;
  cursor: default;
}

.links-section.project .link-description-input {
  width: calc(100% - 2.2rem);
  font-size: 1.6rem;
  padding: 0.5rem;
}

.links-section.user .link-description-input {
  width: 34rem;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.link-input-group {
  display: flex;
  gap: 1rem;
}

.links-section.project .link-input-group {
  width: 100%;
  flex-direction: column;
}

.links-section.user .link-input-group {
  width: 60%;
}

.links-section.project .link-input {
  width: calc(100% - 1.8rem);
  font-size: 1.6rem;
  padding: 0.8rem;
}

.links-section.user .link-input {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
}

.add-link-button {
  font-size: 2rem;
}

.links-section.project .add-link-button {
  padding: 0.5rem 3rem;
  min-width: fit-content;
  width: 50%;
  margin: 0 auto;
}

.links-section.user .add-link-button {
  padding: 0.5rem 2rem;
  font-weight: 600;
  margin: 0 1.2rem;
}