.log-reg-page {
    background-color: #fff;
    background-image: url('../img/log-reg-background.png');
    background-size: 150%;
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    min-height: 85vh;
}

.log-reg-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 25px;
    margin: 0;
}

.log-reg-title {
    font-size: 40px;
    font-weight: 600;
    margin: 0 auto;
    padding-right: 208px;
}

.logo {
    display: block;
    max-width: 100%;
    height: auto;
}

.log-reg-form {
    display: flex;
    flex-direction: column;
    width: 61%;
    padding: 40px;
    background-color: rgba(212, 230, 244, 1);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  
.input-group {
    display: flex;
    margin-bottom: 40px;
    justify-content: flex-end;
    align-items: center;
}
  
.input-group label {
    display: block;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    margin-right: 34px;
    width: 20%;
    min-width: 250px;
}
  
.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.input-wrapper input {
    height: 70px;
    padding: 25px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 300;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-wrapper input:focus {
    outline: none;
}

.input-wrapper .input-error {
    background-color: rgba(255, 202, 202, 1);
    border: 1px solid rgba(255, 0, 0, 1);
}

.error-message {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    color: red;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    pointer-events: none;
    z-index: 10;
}
  
.log-reg-button {
    display: block;
    width: 100%;
    height: 79px;
    margin: 0 auto;
    background-color: rgba(21, 93, 164, 1);
    border-radius: 15px;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.log-reg-button:hover {
    background-color: rgba(202, 209, 225, 1);
}
  
.log-reg-button:active {
    background-color: rgba(21, 93, 164, 1);
}

.log-reg-button:disabled {
    background-color: rgba(202, 209, 225, 1);
    cursor: not-allowed;
}
  
.log-reg-link {
    text-align: center;
}

.log-reg-link span {
    font-size: 24px;
    font-weight: 400;
}
  
.log-reg-link a {
    color: rgba(21, 93, 164, 1);
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

.log-reg-link a:hover {
    color: rgb(47, 36, 191);
}

.log-reg-link a:active {
    color: rgba(202, 209, 225, 1);
}
