.log-reg-container {
    display: flex;
    background-color: #fff;
    min-height: 100vh;
}

.log-reg-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px 0;
}

.log-reg-picture-container {
    width: 50%;
}

.log-reg-picture-container img {
    display: block;
    width: 100%;
}

.log-reg-title {
    font-size: 48px;
    font-weight: 800;
    color: rgba(0, 119, 255, 1);
    padding: 0;
    margin: 0 auto;
    margin-bottom: 50px;
}

.logo {
    display: block;
    height: 100px;    
    margin-bottom: 50px;
}

.log-reg-form {
    display: flex;
    flex-direction: column;
    width: 693px;
    margin-bottom: 50px;
}
  
.input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}
  
.input-wrapper input {
    height: 70px;
    padding: 0 25px;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    border: 1px solid rgba(0, 119, 255, 0.3);
    transition: background-color 0.3s, border-color 0.3s;
}

.input-wrapper input:focus {
    border-color: rgba(0, 119, 255, 1);
    outline: none;
  }

.input-wrapper .input-error {
    background-color: rgba(255, 202, 202, 1);
    border-color: rgba(255, 0, 0, 1);
}

.input-wrapper .input-error:focus {
    border-color: rgba(255, 0, 0, 1);
    outline: none;
}

.error-message {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    color: red;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    pointer-events: none;
    z-index: 10;
}
  
.log-reg-button {
    display: block;
    width: fit-content;
    height: 50px;
    margin: 0 auto;
    padding: 0 50px;
    background-color: transparent;
    color: rgba(0, 119, 255, 1);
    border-radius: 15px;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid rgba(0, 119, 255, 1);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.log-reg-button:hover {
    background-color: rgba(0, 119, 255, 1);
    color: #fff;
}

.log-reg-button:disabled {
    background-color: rgba(172, 172, 172, 1);
    border-color: rgba(172, 172, 172, 1);
    color: #fff;
    cursor: not-allowed;
}
  
.log-reg-link {
    text-align: center;
}

.log-reg-link span {
    font-size: 20px;
    font-weight: 400;
}
  
.log-reg-link a {
    color: rgba(0, 119, 255, 1);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: color 0.2s, text-decoration-color 0.2s;
}

.log-reg-link a:hover {
    color: rgba(0, 119, 255, 0.5);
    text-decoration: underline;
}

.log-reg-link a:active {
    color: rgba(0, 119, 255, 1);
}

.password-link {
    margin-bottom: 40px;
}