.preview-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto 50px;
  padding: 0;
  gap: 3.06%;
  max-width: 88.5%;
  min-height: 562px;
}

.preview-list li {
  width: 22.7%;
  box-sizing: border-box;
  margin-bottom: 3.06%;
}

.preview-list li:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.add-item {
  display: block;
  max-width: fit-content;
  padding: 15px 50px;
  margin: 0 auto;
  background-color: rgba(77, 161, 128, 1);
  border-radius: 15px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.add-item:hover {
  background-color: #fff;
  color: rgba(77, 161, 128, 1);
  border: 2px solid rgba(77, 161, 128, 1);
}

.disabled {
  display: none;
}

.empty-previews {
  text-align: center;
  margin: 276px auto 0;
}

.arrow-to-add {
  margin: 14px 0;
}

.empty-title {
  font-size: 32px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.empty-title span {
  color: rgba(77, 161, 128, 1);
}

.empty-arrow {
  margin-left: 220px;
}
