.self-team-switch {
    display: flex;
    gap: 20px;
  }
  
  .self-team-switch-option {
    cursor: pointer;
    padding: 6px 30px;
    border: 2px solid rgba(0, 119, 255, 1);
    border-radius: 15px;
    color: rgba(0, 119, 255, 1);
    font-size: 20px;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s;
  }

  .self-team-switch-option:hover {
    background-color: rgba(0, 119, 255, 0.3);
  }
  
  .self-team-switch-option.active {
    background-color: rgba(0, 119, 255, 1);
    color: #fff;
  }
  