.sort-options {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0px 0;
  }
  
  .sort-option {
    cursor: pointer;
    padding: 13px 30px;
    border: 2px solid #155DA4;
    border-radius: 15px;
    color: #155DA4;
    font-size: 24px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sort-option.active {
    background-color: #155DA4;
    color: #fff;
  }

  .sort-options h2 {
    font-size: 28px;
    font-weight: 600;
    color: #155DA4;
    padding: 0;
    margin: 0;
  }
  