.team-items-container {
  width: calc((100% - 1.5rem * 3 - 21rem) / 3 - 2 * 3rem);
  background: white;
  border-radius: 1.5rem;
  padding: 3rem;
  padding-right: 2rem;
}

.items-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1.6rem;
  color: rgba(0, 119, 255, 1);
}

.items-list-container {
  height: calc(100% - 4.3rem - 2.9rem - 6rem);
  margin: 3rem 0;
  padding-right: 0.2rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f0f0f0;
  scrollbar-gutter: stable;
}

.team-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.team-item-link {
  text-decoration: none;
}

.team-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(138, 140, 140, 0.5);
  gap: 1.5rem;
  width: calc(100% - 2rem);
  height: 10rem;
  padding: 1rem;
  transition: background-color 0.2s;
}

.team-item:hover {
  background-color: rgba(138, 140, 140, 0.1);
}

.team-item:hover .team-item-title {
  text-decoration-color: rgba(0, 119, 255, 0.5);
  color: rgba(0, 119, 255, 0.5);
}

.team-item-image {
  width: 17.5rem;
  height: 10rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

.team-item-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 26.5rem;
  gap: 1rem;
}

.team-items-container.card .team-item-info-container {
  width: 100%;
}

.team-item-title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
  color: rgba(0, 119, 255, 1);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 3px;
  transition: color 0.2s, text-decoration-color 0.2s;
  cursor: pointer;
  white-space: nowrap;
}

.team-item-description {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
  color: black;
}

.team-empty-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  width: 100%;
  height: calc(100% - 4.3rem - 2.9rem - 1.6rem);
}