.teams-page-wrapper {
  padding-bottom: 2.8rem;
}

.teams-page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.8rem 14.5rem 0;
}

.teams-list {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
  row-gap: 10rem;
  align-content: flex-start;
  list-style: none;
  margin: 0 auto;
  padding: 4rem 0;
}

.teams-list-item {
  border-radius: 1.5rem;
  padding: 3.5rem;
  background: white;
  cursor: pointer;
  border: 3px solid transparent;
  transition: transform 0.2s;
}

.teams-list-item:hover {
  transform: scale(1.02);
}

.teams-list-item:hover h1 {
  text-decoration-color: rgba(0, 119, 255, 1);
}

.new-team {
  border-color: rgba(0, 119, 255, 0.5);
}

.teams-items-container {
  margin-bottom: 5rem;
}

@media (max-width: 1555px) {
  .teams-list {
    grid-template-columns: repeat(2, 45%);
  }
}

@media (max-width: 1200px) {
  .teams-list {
    grid-template-columns: repeat(1, 70%);
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .teams-list {
    grid-template-columns: repeat(1, 90%);
  }
}