.teams-page-wrapper {
  min-height: calc(100vh - 28px);
  padding-bottom: 28px;
}

.teams-page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.75rem 9.05rem 0;
}

.teams-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 476.8px);
  justify-content: center;
  gap: 6.25rem;
  list-style: none;
  margin: 0;
  padding: 2.5rem 0 1.75rem 0;
  width: 100%;
  grid-auto-rows: 560px;
  align-items: stretch;
}

.teams-list-item {
  display: flex;
  flex-direction: column;
  padding: 2.18rem;
  background: white;
  border-radius: 1rem;
  gap: 0.6rem;
  cursor: pointer;
  height: calc(100% - 2.18rem * 2);
  border: 3px solid transparent;
  transition: transform 0.2s;
}

.teams-list-item:hover {
  transform: scale(1.02);
}

.teams-list-item:hover h1 {
  text-decoration-color: rgba(0, 119, 255, 1);
}

.new-team {
  border-color: rgba(0, 119, 255, 0.5);
}

.teams-items-container {
  margin-bottom: 50px;
}