.team-detail-page {
  height: 100vh;
}

.team-detail-content {
  height: calc(100% - 6rem - 3rem);
  width: calc(100% - 3rem);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.team-view-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1.5rem;
}

.team-info-container,
.team-edit-container {
  width: calc((100% - 1.5rem * 3 - 21rem) / 3 - 6rem);
  background: white;
  border-radius: 1.5rem;
  padding: 3rem;
}

.team-edit-container {
  width: 40%;
}

.team-main {
  width: 100%;
  height: calc(100% - 4.3rem);
}

.back-to.team-link {
  width: 21rem;
}

.team-name-input {
  font-size: 2rem;
  padding: 0.8rem;
  height: fit-content;
  width: calc(100% - 1.6rem);
}

.toast-toast {
  position: fixed;
  bottom: 100px;
  left: 280px;
  background: rgba(0, 119, 255, 0.9);
  color: white;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  animation: fadeIn 0.3s ease-in-out, fadeOut 0.3s ease-in-out 2.7s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}