.team-members.team {
    height: 100%;
    width: 100%;
}

.team-title {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 2.5rem;
}

.team-title:hover {
    color: rgba(0, 119, 255, 1);
    text-decoration-color: rgba(0, 119, 255, 1);
}

.team-members.card .team-title,
.team-members.detail .team-title {
    text-decoration: none;
    cursor: default;
}

.team-members-list,
.team-invited-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
}

.team-members.team .team-members-list {
    min-height: 44.5rem;
}

.team-members.edit .team-members-list,
.team-invited-list {
    margin: 2rem 0;
    gap: 1.5rem;
}

.team-members.edit .team-members-list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.team-members-item-container,
.team-invited-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.team-member-photo {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.team-member-name-container,
.member-edit-role-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.team-member-username {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    text-align: left;
}

.admin-icon {
    width: 2.5rem;
    height: auto;
}

.team-members.card .admin-icon {
    display: none;
}

.team-member-role {
    margin: 0;
    margin-top: 0.8rem;
    padding: 0.2rem 0.5rem;
    font-size: 2rem;
    font-weight: 400;
    background-color: rgba(0, 119, 255);
    color: white;
    border-radius: 0.5rem;
    width: fit-content;
}

.member-edit-role-input {
    font-size: 1.6rem;
    padding: 0.8rem;
    height: fit-content;
    min-width: 19.5rem;
}

.my-role {
    margin-right: 3.5rem;
}

.invited-persons-section {
    margin-top: 4rem;
    width: 100%;
}

.team-invited-title {
    margin: 0;
    padding: 0;
    width: 100%;
    color: black;
    font-weight: 600;
    font-size: 2rem;
}