.user-card {
    height: calc(100% - 118px);
}

.user-card.card {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: calc(60% - 80px);
    padding: 40px 0;
    margin: 0 auto;
}

.user-card.card .user-info-container {
    flex-direction: column;
    width: calc(100% - 60px);
    height: 485px;
    gap: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}

.user-info {
    width: calc(22.5% - 60px);
    height: calc(100% - 70px);
    background: #fff;
    padding: 35px 30px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-card.card .user-info {
    gap: 25px;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    border-radius: 0;
    text-align: center;
}

.user-card.edit .user-info {
    justify-content: space-between;
}

.user-info h2 {
    margin: auto;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 119, 255, 1);
}

.user-card.card h2 {
    margin: 0;
    font-size: 32px;
}

.user-data {
    width: calc(34% - 150px);
    height: calc(100% - 70px);
    background: #fff;
    padding: 35px 75px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.user-card.card .user-data {
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    border-radius: 0;
    display: block;
}

.user-data-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.user-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    height: 172px;
    margin: auto;
    white-space: nowrap;
}

.user-card.card .user-description {
    gap: 28px;
    width: auto;
    height: auto;
    margin: 0;
}

.user-description-item {
    display: flex;
    height: 35px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
    color: rgba(0, 119, 255, 1);
}

.user-card.card .user-description-item {
    display: block;
    height: auto;
    width: auto;
}

.user-description-item.username {
    flex-direction: column;
}

.description-title {
    min-width: 250px;
    font-weight: 500;
    color: black;
}

.user-card input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.user-info input {
    font-size: 20px;
    width: 90%;
    text-align: center;
}

.user-error-message {
    font-size: 16px;
    text-align: left;
    margin-top: 60px;
    min-width: 350px;
    text-align: center;
    margin-left: 200px;
}

.user-error-message.username {
    min-width: 372px;
    margin-left: 0;
    margin-top: 45px;
}
