  .user-page {
    padding: 0;
    height: calc(100vh - 60px);
  }

  .user-links-list.edit {
    width: 100%;
    justify-content: flex-start;
  }

  .user-link-item.edit {
    width: 100%;
  }
  
  .user-link-title.edit {
    min-width: 340px;
    font-size: 16px;
  }

  .user-link-item-container.edit {
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
  }

  .user-link-input-group {
    display: flex;
    gap: 10px;
    width: 60%;
  }

  .user-info.edit {
    justify-content: space-between;
  }

  .user-photo.edit {
    width: 210px;
    height: 210px;
  }

  .user-description-item.username {
    flex-direction: column;
  }

  .user-description-item input, .user-info.edit input, .link-input, .user-link-description-input, .user-link-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .user-link-description-input {
    width: 340px;
    padding: 5px;
  }

  .user-info.edit input {
    font-size: 20px;
    width: 90%;
    text-align: center;
  }
  
  .user-data-save-button, .user-data-cancel-button, .edit-info-button, .user-photo-change, .add-user-link-button {
    padding: 11.5px 30px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 12px;
  }

  .user-photo-change, .add-user-link-button {
    padding: 5px 20px;
  }

  .user-error-message {
    font-size: 16px;
    text-align: left;
    margin-top: 60px;
    min-width: 350px;
    text-align: center;
    margin-left: 200px;
  }

  .user-error-message.username {
    min-width: 372px;
    margin-left: 0;
    margin-top: 45px;
  }

  .edit-info-button {
    margin-top: 40px;
  }

  .user-info-actions {
    margin-top: 40px;
  }
